extends layout
block content
	h1.title= title

	h3 welcome #{user.username}!

	p Join the club by entering secret admin password
	
	form(method='POST', action='')
		div.form-group
			label(for='adminPW') Admin Password:
			input#pw.form-control(type='password' name='adminPW')
		div.form-group
			input#userid.form-control(type='hidden',name='userid', required='true', value=user._id )
		button.btn.btn-primary(type='submit') Join Club
