doctype html
html(lang='en')
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		div.container-fluid
			block sidebar
				nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
					a.navbar-brand(href='/') Roaster Club
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
				
					.collapse.navbar-collapse(id='navbarSupportedContent')
						ul.navbar-nav.mr-auto
							li.nav-item
								a.nav-link(href='/') Home
							if currentUser
								li.nav-item
									a.nav-link(href='/log-out') Log Out
								li.nav-item
									a.nav-link(href='/create-message') Create a new message

								if currentUser.membership_status != 'Active'
									li.nav-item
										a.nav-link(href=`/${currentUser._id}/join_the_club`) Join Club	
							else
								li.nav-item
									a.nav-link(href='/login') Login
								li.nav-item
									a.nav-link(href=`/login`) Join Club
									
							li.nav-item
								a.nav-link(href='/sign_up') Sign Up

			div.container
				div(class='msgs')
					if successes
						for success in successes
							div.alert.alert-success.alert-dismissible
								p.msg-para #{success} 
								a(href='#' class="close" data-dismiss="alert" aria-label="close") &times
								
					if errors
						for error, i in errors
							div.alert.alert-danger.alert-dismissible
								p.msg-para #{error}
								a(href='#' class="close" data-dismiss="alert" aria-label="close") &times
								
								
				block content
					
 
	